---
layout: page
title: About
permalink: /about/
description: 我从小叫三毛，流浪就伴随着我的成长。
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include breadcrumbs.html %}
    </div>
  </div>
  <div id="team">
    <div class="row">
      <div class="col-md-6">
        <!--    <div class="col-md-6 history">-->
        <h6 class="double-u">在山那边</h6>
        <p>出生在山村，课文里读到在山的那边，开始想象外面的世界。</p>
        <p>小时候，幺姨经常带我到县城，记忆里只有一点点了，在那时，我还是见识了很多城里的事情。</p>



      </div>

      <div class="col-md-6">
        <!--    <div class="col-md-6 goals">-->
        <!--			<h6 class="double-u">Goals</h6>-->
        <!--      <h6 class="double-u">Goals and Specialization</h6>-->
        <h6 class="double-u"> 流浪的开始 </h6>
        <p>农村的生活越来越艰难，父母决定到广东，于是我也开始了独自的生活。
        </p>
        <p>一个人的世界，偶尔是会觉得孤单，好在我喜欢读书，安静的环境，让我在读书的路上一路顺风顺水。</p>
        <p>考上了高中，考上了大学，找到了上海的工作，最终为了能常回家，又到了深圳。</p>


      </div>
      
    <!-- <div class="col-md-6 goals"> -->
		<div class="col-md-6">
			<h6 class="double-u">新的目的地</h6>
				<p>在进了大学之后，相比高中安排的紧张的学习，多了很多空闲的时间，开始让旅行付之行动。</p>

				<p> 到了很多地方，有时甚至就在城市徒步，到野外走在。留下一些照片，还可能当作一点回忆。</p>			
			
		</div>

    </div>
    <hr>

    <div class="team-container">
      <div class="row">
        <div class="col-md-12">
          <!--				<h6 class="double-u">My Team</h6>-->
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-3 individual">
          <img width="152" height="152" class="rounded-circle" src="/images/author-image.jpg" alt="">
          <!--        <img width="100" height="100" class="team-image rounded-circle" src="/images/author-image.jpg" alt="">-->
          <h4 class="name">Melissa "Missy" Bell</h4>
          <p class="position"><small>Founder / Owner</small></p>
          <ul class="team-social">
            {% if site.author.linkedin %}
            <li><a target="_blank" href="{{site.author.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if site.author.facebook %}
            <li><a target="_blank" href="{{site.author.facebook}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            {% endif %}

            <!--					<li><a href=""><i class="fa fa-twitter-square fa"></i></a></li>-->
            <!--
					<li><a href="https://www.facebook.com/missybell.atx"><i class="fa fa-facebook-official fa"></i></a></li>
					<li><a href="https://www.linkedin.com/in/melissabellatx/"><i class="fa fa-linkedin-square fa"></i></a></li>
-->

          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
