---
title: "grid css 4"
layout: page
permalink: /purecol
---

<!-- truncatewords 仅英语单词有效果 -->

<div class="pure-g">
    {% for item in site.data.about.softitem %}
    <div class="pure-u-1 pure-u-md-1-4 pure-u-sm-1-2">
        <div class="pure-table">
        <img src="/imglogo/{{item.logo}}">
    {{item.name}}
         {% if item.url %}
          <button>
              <a href="{{item.url}}">高速下载</a>
          </button>    
          {% else %}
          <button>
          <a href="#">无</a> 
          </button>    
          {% endif %} 
        </div>
    </div>
    {% endfor %}
</div>

<br>
<br>

<div class="pure-g">
{% for post in site.posts %}    
    {% if post.type == "main" %}

    <div class="pure-u-1 pure-u-md-1-4 pure-u-sm-1-2">
        <div class="pure-table">
        <td>{{ post.title }}</td>

         <th>
        {% if post.cover %}
        <img class="pure-img" src="{{ "/assets/img/bio-photo-2.jpg" | absolute_url}}" alt="">
        
        {% else %}
        <img class="pure-img" src="{{post.cover}}" width="200" height="200" alt="">

        {% endif %}
        </th>

            <!-- <img src="{{ "/assets/img/bio-photo-2.jpg" | absolute_url}}" alt=""> -->
        </div>
            <p>
            {% if post.description %}
                {{post.description | strip_html | truncatewords:10}}
            {% else %}
                {{ post.content | strip_html | truncatewords:10 }}
            {% endif %}
            </p>
        <button class="pure-button"><a href="{{ post.url }}">Read...</a></button>
    </div>

    {% endif %}
{% endfor %}
</div>

<!-- end pricing-tables -->


