<!-- <section id="intro">
	<div class="">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
			
				<div class="car-image" style="background-image: url(/images/images/banner3.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Safe Driving and Rehabilitation</p>
					<h1>Professional Assessment, Training, and Support.</h1>
				</div>
			</div>
			
		</div>
	</div>
</section> -->


<section id="intro">
	<div class="">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/images/yunnan/yn7.jpg)"></div>
				<div class="text-container position-absolute">
					<p>丽江古城 · 云南</p>
					<h1>就在这一瞬间 才发现 你就在我身边</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/images/suzhou/suzhou-01.jpg)"></div>
				<div class="text-container position-absolute">
					<p>苏州园林 · 苏州</p>
					<h1>一迳抱幽山，居然城市间</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/images/yunnan/yn2.jpg)"></div>
				<div class="text-container position-absolute">
					<p>苍山洱海 · 云南</p>
					<h1>Gain driving independence!</h1>
				</div>
			</div>

			<div class="item">
			<div class="car-image" style="background-image: url(/images/yunnan/yn8.jpg)"></div>
				<div class="text-container position-absolute">
					<p>玉龙雪山 · 云南</p>
					<h1>Best in class Certified Driver Rehabilitation!</h1>
				</div>
			</div>
			
		</div>
	</div>
</section>



<!-- <section id="intro">
	<div class="container rev">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/images/carousel/kaleidico-754495-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Fonts</p>
					<h1>Awesome Typography!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/images/carousel/stefan-stefancik-297983-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Layout</p>
					<h1>Immersive Experience!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/images/carousel/austin-distel-675050-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Ease</p>
					<h1>Customize as you like!</h1>
				</div>
			</div>
		</div>
	</div>
</section> -->
