---
layout: default
---

<div class = "single-post">

        <h2>{{page.title}}</h2>

        <p>{{page.description}}</p>

        {% capture file %}
                {{- page.file -}}
        {% endcapture %}
        {% capture title %}
                {{- page.title -}}
        {% endcapture %}

        {% if post.flie %}
                {% include player.html file = file title = title %}
        {% endif %}

        {% if page.videoid %}
                {% include video.html videoid = page.videoid %}
        {% endif %}

        {{ content }}

        {% if site.data.settings.shownotes == true %}
                {% include shownotes.html %}
        {% endif %}

        <div class="categories">
                {% assign tags = page.tag %}
                {% for tag in tags %}
                  <a href="{% capture url %}/tags.html/#{{ tag | slugify }}{% endcapture %}
                  {{ url | absolute_url }}">{{tag}}</a>
                  {% unless forloop.last %}&nbsp;{% endunless %} 
                {% endfor %}
        </div>

</div>
{% if site.settings.disqus-shortname %}
        {%- include disqus.html -%}
{% endif %}