---
layout: default
---

<div class = "single-post">

        <h2>{{page.title}}</h2>

        <hr>

        <p>{{page.description}}</p>


        {% capture file %}
                {{- page.file -}}
        {% endcapture %}
        {% capture title %}
                {{- page.title -}}
        {% endcapture %}

        {% if post.flie %}
                {% include player.html file = file title = title %}
        {% endif %}

        {% if page.videoid %}
                {% include video.html videoid = page.videoid %}
        {% endif %}

        {{ content }}

        {% if site.data.settings.shownotes == true %}
                {% include shownotes.html %}
        {% endif %}


       <div class="pagination">
            {% if page.previous %}
            <a  href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a>
            {% else %}
            <<a href="#">&larr; Prev</a>
            <!-- <span class="inactive"><a href="#">&larr; Prev</a></span> -->
            {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
            {% else %}
            <a href="#">Next &rarr;</a>
            <!-- <span class="inactive"><a href="#">Next &rarr;</a></span> -->
            {% endif %}

        </div>


        <div class="categories">
                {% assign tags = page.tag %}
                {% for tag in tags %}
                  <a href="{% capture url %}/tags#{{ tag | slugify }}{% endcapture %}
                  {{ url | absolute_url }}">{{tag}}</a>
                  {% unless forloop.last %}&nbsp;{% endunless %} 
                {% endfor %}
        </div>

</div>
{% if site.settings.disqus-shortname %}
        {%- include disqus.html -%}
{% endif %}